@import "../node_modules/bootstrap/scss/bootstrap.scss";

body > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.feed-form {
  margin-bottom: 30px;

  .form-inline &__input {
    width: 400px;

    @include media-breakpoint-up(sm) {
      width: 400px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    label {
      margin-bottom: 5px;
    }
  }
}

.feed-result {
  &__loader {
    display: none;
    width: 200px;
    height: 24px;
    background: url(../img/loader.svg) no-repeat center center;
    background-size: 100% auto;
  }

  &__item {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 25px;
  }

  &__item-link {
    font-size: 1.3em;

    &.is-visited {
      position: relative;
      color: #aaa;

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url("../img/open-book.svg") no-repeat center center;
        background-size: contain;
      }
    }
  }

  &__item-date {
    font-size: 0.9em;
  }
}

.message {
  &.error {
    color: #f00;
  }
}