@import "../node_modules/bootstrap/scss/bootstrap.scss";

body > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.feed-form {
  margin-bottom: 30px;
}

.feed-result {
  &__loader {
    display: none;
    width: 200px;
    height: 100px;
    background: url(../img/loader.svg) no-repeat center center;
    background-size: 100% auto;
  }

  &__item {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 25px;
  }

  &__item-link {
    font-size: 1.3em;
  }

  &__item-date {
    font-size: 0.9em;
  }
}